@use 'submodules/mixin';


.container {
    @include mixin.flex-box(row-reverse, space-evenly);       // Memanggil mixin flex-box
    width: 600px;
    height: 400px;
    background-color: #eaeaea;

    .box {
        width: 60px;
        height: 60px;
        background-color: rgb(200, 136, 57);
        text-align: center;
        line-height: 60px;
    }
    
}